<h2>Settings</h2>

<%= link_to "Sync with Course Catalog", admin_synchronize_path, remote: true, class: "btn btn-default", data: { confirm: "Are you sure? This job can take up to 30 minutes" } %>

<br>
<br>

<%= link_to "Export User Preferences", "/admin/preferences.pdf", class: "btn btn-default" %>

