<% cache section do %>
  <tr>
    <td><%= link_to section.term,               administrator_section_path(section) %></td>
    <td><%= link_to section.number,             administrator_section_path(section) %></td>
    <td><%= link_to section.current_enrollment, administrator_section_path(section) %></td>
    <td><%= link_to section.max_enrollment,     administrator_section_path(section) %></td>
  </tr>
<% end %>
