<% cache section do %>
  <tr>
    <td><%= link_to section.term,               administrators_section_path(section) %></td>
    <td><%= link_to section.number,             administrators_section_path(section) %></td>
    <td><%= link_to section.current_enrollment, administrators_section_path(section) %></td>
    <td><%= link_to section.max_enrollment,     administrators_section_path(section) %></td>
  </tr>
<% end %>
