<h2>Sections</h2>

<table class="table">
  <thead>
    <th>Term</th>
    <th>Department</th>
    <th>Course</th>
    <th>Section</th>
    <th></th>
    <th></th>
  </thead>

  <tbody>
    <%= render @sections %>
  </tbody>
</table>
