<h2>Preferences</h2>

<p>These preferences influence your assignment.</p>

<div id="preferences" class="list-group">
  <% if @preferences.empty? %>
    <li class="list-group-item">No preferences found.</li>
  <% else %>
    <%= render @preferences %>
  <% end %>
</div>

<%= link_to "Add a preference", new_students_preference_path, class: "btn btn-default" %>
