<% cache department do %>
  <tr>
    <td><%= link_to department.subject_code, administrators_department_path(department) %></td>
    <td><%= link_to department.name, administrators_department_path(department) %></td>
  </tr>
<% end %>
