<div class="list-group-item">
  <% if preference.value == "favor" %>
    <span class="label label-success"><%= preference.value %></span>
  <% else %>
    <span class="label label-danger"><%= preference.value %></span>
  <% end %>

  &nbsp;

  <%= preference.course.label %>

  <%= button_to "Remove", students_preference_path(preference), method: :delete,
    class: "btn btn-danger btn-xs pull-right", rel: "nofollow",
    data: { type: "script", confirm: "Are you sure?" } %>
</div>
