<% cache department do %>
  <tr>
    <td><%= link_to department.subject_code, admin_department_path(department) %></td>
    <td><%= link_to department.name, admin_department_path(department) %></td>
  </tr>
<% end %>

