<h2><%= @department.name %></h2>

<br>

<h4>Courses</h4>
<table class="table table-hover">
  <thead>
    <th>Number</th>
    <th>Name</th>
  </thead>

  <tbody>
    <%= render @department.courses %>
  </tbody>
</table>
