<h2>Assignment</h2>

<br>

<%= link_to "Run a New Optimization", administrator_assignment_path, class: "btn btn-primary" %>
<%= link_to "Revort Back to Previous Assignment", administrator_assignment_path, class: "btn btn-primary" %>

<br>
<br>
