<% cache skills_user do %>

  <div class="list-group-item">
    <%= skills_user.skill.name %>

    <%= button_to "Remove", student_skills_user_path(skills_user), method: :delete,
      class: "btn btn-danger btn-xs pull-right",
      data: { confirm: "Are you sure?" } %>
  </div>

<% end %>
