<h2>Skills</h2>

<p>Your skillset determines your eligibility to TA certain classes.</p>

<div id="skills" class="list-group">
  <% if @skills.empty? %>
    <li class="list-group-item">No skills found.</li>
  <% else %>
    <%= render @skills %>
  <% end %>
</div>

<%= link_to "Add a skill", new_student_skills_user_path, class: "btn btn-default" %>
