<%= link_to "&larr; Back to Settings".html_safe, administrator_settings_path %>

<h2>Users</h2>

<%= link_to "New User", new_administrator_user_path, class: "btn btn-success" %>

<br>

<table class="table">
  <thead>
    <th>Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Role</th>
    <th>FTE</th>
  </thead>

  <tbody>
    <%= render @users %>
  </tbody>
</table>
