<header>
  <h2 style="display:inline-block;">Users</h2>
  <div class="pull-right" style="margin-top: 20px;">
    <%= link_to "New User", new_administrator_user_path, class: "btn btn-default" %>
  </div>
</header>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>FTE</th>
    </tr>
  </thead>

  <tbody>
    <%= render @users %>
  </tbody>
</table>
