<h2>Users</h2>

<%= link_to "New User", new_administrator_user_path, class: "btn btn-default" %>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @users %>
  </tbody>
</table>
