<div class="list-group-item">
  <span class="label label-primary"><%= student_preference.value %></span>

  <%= student_preference.student.first_name %> <%= student_preference.student.last_name %>

  <div class="pull-right">
    <%= button_to "Remove",
      section_student_preference_path(@section, student_preference),
      method: :delete, class: "btn btn-danger btn-xs", rel: "nofollow",
      data: { type: "script", confirm: "Are you sure?" } %>
  </div>
</div>
