<% cache section do %>
  <tr>
    <td><%= link_to section.term,               admin_section_path(section) %></td>
    <td><%= link_to section.number,             admin_section_path(section) %></td>
    <td><%= link_to section.current_enrollment, admin_section_path(section) %></td>
    <td><%= link_to section.max_enrollment,     admin_section_path(section) %></td>
  </tr>
<% end %>

