<h2>Administrator Settings</h2>

<p>Executes a background job to sync the GtaAssignment course data with the Oregon State Course Catalog.</p>
<p>This job can take up to 5 minutes to complete.</p>

<%= link_to "Sync with Course Catalog", 
  administrators_synchronize_path, remote: true, class: "btn btn-primary",
  data: { confirm: "Are you sure?" } %>

<br>
<br>
<br>

<p>Export Student preferences of Courses in Excel format.</p>

<%= link_to "Export Student Preferences", 
  administrators_student_preferences_path(format: "xlsx"), 
  class: "btn btn-primary" %>

<br>
<br>
<br>

<p>Export Instructor preferences of Students in Excel format.</p>

<%= link_to "Export Instructor Preferences", 
  "", #administrators_instructor_preferences_path(format: "xlsx"), 
  class: "btn btn-primary", disabled: true %>
