<%= form_tag "/skills", method: :post  do |f| %>
  <div class="form-group">
    <%= label_tag :skill %>
    <%= select_tag :skill_ids, 
      options_from_collection_for_select(Skill.all, :id, :name),
      class: "form-control" %>
  </div>

  <div class="actions">
    <%= submit_tag "Create Skill", class: "btn btn-default" %>
  </div>
<% end %>
