<h2>Skills</h2>

<p>Your skillset determines your eligibility to TA certain classes.</p>

<div id="skills" class="list-group">
  <% if @skills.empty? %>
    <li class="list-group-item">No skills found.</li>
  <% else %>
    <%= render @skills %>
  <% end %>
</div>

<%= link_to "Add a skill", new_skill_path, class: "btn btn-default", id: "add-skill" %>

<br>
<br>

<div id="add-skill-form" class="hidden alert alert-warning">
  <%= render "skills/form" %>
</div>

<script type="text/javascript">
$("#add-skill").on("click", function (event) {
  event.preventDefault()
  $("#add-skill-form").toggleClass("hidden")
})
</script>
