<h2>Skills</h2>

<% if @skills.empty? %>
  <div class="well">No skills found.</div>
<% else %>
  <div class="list-group">
    <%= render @skills %>
  </div>
<% end %>

<%= link_to "Add a skill", new_skill_path, class: "btn btn-default" %>
