<h1>Sections</h1>

<%= button_to "Sync Sections", synchronize_sections_path, 
  remote: true, class: "btn btn-default" %>

<ul class="list-group">
  <% @sections.each do |section| %>
    <%= link_to section, class: "list-group-item" do %>
      <%= section.name %>
    <% end %>
  <% end %>
</ul>
