<div class="jumbotron">
  <h1>GtaAssignment</h1>
  <p>The automated system for assigning teaching assistants to classes.</p>
  <p><a class="btn btn-primary btn-md" href="#" role="button">Learn more</a></p>
</div>
