<h2>Courses</h2>

<table class="table">
  <thead>
    <th>Department</th>
    <th>Number</th>
    <th>Name</th>
    <th></th>
    <th></th>
  </thead>

  <tbody>
    <%= render @courses %>
  </tbody>
</table>
