<% cache preference do %>

  <div class="list-group-item">
    <% if preference.value == "favor" %>
      <span class="label label-success"><%= preference.value %></span>
    <% else %>
      <span class="label label-danger"><%= preference.value %></span>
    <% end %>

    &nbsp;

    <%= preference.course.label %>
  </div>

<% end %>
