<h2>
  <%= @course.name.titlecase %>
  <br>
  <small><%= link_to @course.department.name, administrators_department_path(@course.department)  %></small>
</h2>

<br>

<h4>Required Skills</h4>

<% if @course.skills.exists? %>
<ul class="list-group">
  <%= render @course.skills %>
</ul>
<% else %>
  <p>No skills found.</p>
<% end %>

<br>

<h4>Sections</h4>

<% if @course.sections.exists? %>
<table class="table table-hover">
  <thead>
    <th>Term</th>
    <th>Number</th>
    <th>Current Enrollment</th>
    <th>Max Enrollment</th>
  </thead>
  <tbody>
    <%= render @course.sections %>
  </tbody>
</table>
<% else %>
  <p>No sections found.</p>
<% end %>
