<div class="list-group-item">
  <%= skill.skill.name %>
  
  <%= button_to "Remove", students_skill_path(skill), method: :delete,
    class: "btn btn-danger btn-xs pull-right",
    data: { confirm: "Are you sure?" } %>
</div>
